<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Candidate Recommendation from Job Title</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>

<style>
</style>

<body>
    <div class="p-6">
        <h2 class="text-center">Job AI</h2>
    </div>

    <!-- <div class="spinner-border text-success" role="status" id="loader">
        <span class="sr-only">Loading...</span>
    </div> -->

    <form id="input" action="{{ url_for('extract')}}" method="post">
        <div class="input-group pb-3 pl-5 pr-5">
            <input type="text" class="form-control" placeholder="Enter a job title" aria-label="Enter a job title"
                aria-describedby="basic-addon2" id="text" name="text">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" value="Submit">Predict</button>
            </div>
        </div>
    </form>

    <script>
        function onSubmit() {
            document.getElementById('loader').style.display = 'block';
            document.getElementById('input').style.display = 'none';
        }
    </script>

</body>

</html>